.prefectures {
  display: flex;
  flex-wrap: wrap;

  gap: 4px;
}

.prefectureInput {
  line-height: 14px;

  display: block;

  width: 80px;
  padding: 3px;

  cursor: pointer;
  user-select: none;
  text-align: center;

  color: rgb(115, 115, 115);
  border: solid 1px rgb(115, 115, 115);
  border-radius: 10px;
}

.prefectureInput:has(input:focus-visible) {
  outline: solid 2px skyblue;
}

.prefectureInput:has(input:checked) {
  font-weight: bold;

  color: green;
  border: solid 1px green;
}

.prefectureInput:has(input:disabled) {
  cursor: not-allowed;
}
