.prefectures {
  display: flex;
  flex-wrap: wrap;

  gap: 4px;
}

.prefectureInput {
  line-height: 14px;

  display: block;

  width: 80px;
  padding: 3px;

  cursor: pointer;
  user-select: none;
  text-align: center;

  color: gray;
  border: solid 1px gray;
  border-radius: 10px;
}

.prefectureInput:has(input:checked) {
  font-weight: bold;

  color: green;
  border: solid 1px green;
}
